.wrapper {
	margin: 0 auto;
	width:640px;
	height:960px;
	background-image: url(notebook.png)	
}

#promptbox {
	width:200px;
	padding:10px;
}

#timer {
	text-align: center;
}


#textalert {
	color: red;
}