.wrapper {
	margin: 0 auto;
	width:220px;
	height:330px;
	background-image: url(notebook.png)	
}

h1 {
	text-align: center;
}


form {
	text-align: center;
	padding-top:50px;
}

input {
	margin-bottom:5px;
	padding-top:5px;
	padding-bottom: 5px;
}

#instructions {
	padding:20px;
}

#promptbox {
	width:200px;
	padding:10px;
}

#timer {
	text-align: center;
}


#textalert {
	color: red;
}