@font-face {
    font-family: 'poetsenoneregular';
    src: url('font/poets/poetsenone-regular-webfont.eot');
    src: url('font/poets/poetsenone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/poets/poetsenone-regular-webfont.woff') format('woff'),
         url('font/poets/poetsenone-regular-webfont.ttf') format('truetype'),
         url('font/poets/poetsenone-regular-webfont.svg#poetsenoneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comfortaabold';
    src: url('font/comfortaa/comfortaa-bold-webfont.eot');
    src: url('font/comfortaa/comfortaa-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/comfortaa/comfortaa-bold-webfont.woff') format('woff'),
         url('font/comfortaa/comfortaa-bold-webfont.ttf') format('truetype'),
         url('font/comfortaa/comfortaa-bold-webfont.svg#comfortaabold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'comfortaalight';
    src: url('font/comfortaa/comfortaa-light-webfont.eot');
    src: url('font/comfortaa/comfortaa-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/comfortaa/comfortaa-light-webfont.woff') format('woff'),
         url('font/comfortaa/comfortaa-light-webfont.ttf') format('truetype'),
         url('font/comfortaa/comfortaa-light-webfont.svg#comfortaalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comfortaaregular';
    src: url('font/comfortaa/comfortaa-regular-webfont.eot');
    src: url('font/comfortaa/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/comfortaa/comfortaa-regular-webfont.woff') format('woff'),
         url('font/comfortaa/comfortaa-regular-webfont.ttf') format('truetype'),
         url('font/comfortaa/comfortaa-regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



.wrapper {
	margin: 0 auto;
	width:320px;
	height:470px;
	background-image:url(../images/linedpaper.png);	
  overflow:auto;

}

.journalwrapper {
	margin: 0 auto;
	width:320px;
	height:1200px;
	background-image: url(../images/linedpaper.png);	

}

.icon {
  width: 75px;
}


p {
	font-size: 18px;
	margin: 0;
}

h1 {
	font-family: 'comfortaabold';
	margin:0;
	padding-top:20px;
	text-align: center;
}

h2 {
	text-align: center;
	font-family: 'comfortaabold';
	margin:0;
	padding:0;
	padding-bottom: 10px;

}

h3 {
	font-family: 'comfortaaregular';
	text-align: center;
	padding:5px;
	margin: 10px;
}

h5 {
  padding:0;
  margin: 0;
}

html {
	font-family: 'comfortaalight';
}

form {
	text-align: center;
	overflow:hidden;
}

input {
	margin-bottom:5px;
	padding-top:5px;
	padding-bottom: 5px;
	text-align: center;
	overflow: hidden;
}
	
.header {
	text-align: center;
	padding-top: 30px;
}

#whatyouneed {
  padding-top: 10px;
}

#access {
	padding-top:20px;
	text-align: center;
}

#login {
  width: 250px;
  height: 60px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}
#login:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#signup {
  width: 250px;
  height: 60px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #1abc9c;
  border: 0;
  border-bottom: 2px solid #12ab8d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #12ab8d;
  box-shadow: inset 0 -2px #12ab8d;
}
#signup:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#toppadding {
	padding-top: 10px;
}

#instructionsbox {
	text-align: center;
	padding-top: 10px;
}

.label {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}


#promptbox {
	font-size: 28px;
	text-align: center;
	padding-bottom:30px;
	padding-left:30px;
	padding-right:30px;
	
}

.bottombutton{
	padding-top: 5px;
	text-align: center;
}

#getready {
	padding-top: 120px;
	text-align: center;
}

#clickready {
  width: 250px;
  height: 60px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #1abc9c;
  border: 0;
  border-bottom: 2px solid #12ab8d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #12ab8d;
  box-shadow: inset 0 -2px #12ab8d;
}

#somediv {
	text-align: center;
	font-family: 'comfortaabold';
	font-size:  70px;
}

#clickready:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
	

#drawthis {
	text-align: center;
	padding-top: 40px;
}

#timer {
	text-align: center;
}

#spantimer {
	position: absolute;

	margin-top:-120px;
	margin-left:130px;

	text-align: center;
	display:block;
    height: 60px;
    width: 60px;
    line-height: 60px;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
}

.done {
	padding:0px;
	text-align: center;
}


#image {
	margin-top: -85px;
	margin-left: -40px; 
	position:absolute;
	opacity:0;
	padding-top: 30px;
	width: 90px;
}

.thumb {
	max-width:220px;
}

#textalert {
	padding-top: 100px;
	color: #F04155;
}

#congrats {
	padding:none;
	margin:0;
	display: none;
	text-align: center;
}

#journal {
  margin-top: 10px;
  width: 250px;
  height: 60px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #9b59b6;
  border: 0;
  border-bottom: 2px solid #8d4ca7;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #8d4ca7;
  box-shadow: inset 0 -2px #8d4ca7;
}


#journal:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#cameradiv {
	padding-top: 20px;
}



@-webkit-keyframes pulseBorder {
  from {
    border:solid 6px #F04155;
  }
  to {
    border:solid 10px #F04155;
        
  }
}



#cameraicon {

	padding:5px;
    height: 80px;
    width: 80px;


    -moz-border-radius: 300px;
    border-radius: 300px;
    border-style: solid;
    border-color: blue;
    border-width: 3px;
      
    -webkit-animation-name: pulseBorder;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 1s;
    text-align:center;
    border: solid 1px;
    cursor: pointer;

    box-sizing:border-box;


}

.caption {
	padding-left: 20px;
	padding-right: 20px;
}

#piclog {
	text-align: center;
}

.journalimage {
	max-width: 275px;
	padding-bottom: 5px;
}

#sketchagain {
  margin-top: 10px;
  width: 250px;
  height: 60px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #1abc9c;
  border: 0;
  border-bottom: 2px solid #12ab8d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #12ab8d;
  box-shadow: inset 0 -2px #12ab8d;
}

#wantmore {
	padding-top: 20px;
}

#doneearly {
  text-align: center;
  padding:30px;
}

#homebutton {
  width: 250px;
  height: 60px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #1abc9c;
  border: 0;
  border-bottom: 2px solid #12ab8d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #12ab8d;
  box-shadow: inset 0 -2px #12ab8d;
}














